GeoJSON output Identity management

GeoJSON specificies a `Feature` as having an _optional_ `id`.  In the GeoJSON outputs, we have an `ID` that is a `Property` of the feature.

This makes using a GeoJSON parser a little strange when trying to assign the identity of the `Feature` of the object being deserialized to.

Does this `ID` need to be a property for some reason, or can we bump that up a level?

Good question -- OGR doesn't really give you access to that ID since it's unique to GeoJSON and not really a Simple Features thing. 

I would prefer to keep all attributes (including identifiers) in attributes if that's not a big deal.

Hmm. Just for reference: [RFC 7946, section 3.2](https://tools.ietf.org/html/rfc7946#section-3.2).  The last bullet there says a feature _SHOULD_ include as a member the **commonly used identifier**.  Does OGR not properly implement GeoJSON then?

Looking here: https://gdal.org/drivers/vector/geojson.html it does appear that you can specify a feature property to use as the ID. I'm pretty sure I have access to those with how I'm writing these files. Will see if I can push the ID up there.